button{
    border:none;
    background: rgb(12, 86, 224);
    color: white;
}
button:hover{
    background-color:rgb(12, 86, 224);
    transform: scale(1.1);
    color:white;
}

.mt-3 button{
    
}